.example {
  width: 300px;
  place-self: center;

  &.column {
    grid-auto-flow: column;
  }
}

.dense {
  display: grid;
  grid-template: repeat(3, 50px) / repeat(3, 100px);
  grid-auto-flow: dense;
  grid-auto-rows: 50px;
  grid-gap: 2px;

  &.row {
    grid-auto-flow: row;
  }
}